<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	
	<servlet>
		<servlet-name>api</servlet-name>
		<servlet-class>
			com.u2a.framework.commons.JSPServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>api</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>api</servlet-name>
		<url-pattern>/server/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ajaxapi</servlet-name>
		<servlet-class>
			com.u2a.framework.commons.AJAXServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>ajaxapi</servlet-name>
		<url-pattern>/ajaxapi/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>webdav</servlet-name>
		<servlet-class>
			org.apache.catalina.servlets.WebdavServlet
		</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>1</param-value>
		</init-param>
		<init-param>
			<param-name>listings</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>readonly</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>webdav</servlet-name>
		<url-pattern>/webedit/*</url-pattern>
	</servlet-mapping>

	<description>加载监听</description>
	<listener>
		<listener-class>com.brick.init.ServletListener</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			com.u2a.framework.util.ServletListener
		</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/applicationContext.xml,
			/WEB-INF/transaction_manager.xml,
			/WEB-INF/config/limit/spring-limit.xml
		</param-value>
	</context-param>
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>com.u2a.framework.util.Encoding</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>userFiter</filter-name>
		<filter-class>com.u2a.framework.util.UserFiter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>userFiter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>userFiter</filter-name>
		<url-pattern>/server/*</url-pattern>
	</filter-mapping>
	<!-- 前台session过滤 -->
	<!--  UrlRewriteFilter配置 -->
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>
			org.tuckey.web.filters.urlrewrite.UrlRewriteFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/jsp/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/jsp/500.jsp</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>welcome.jsp</welcome-file>
	</welcome-file-list>

</web-app>
